.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color:darkgoldenrod;
    color: white;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    background-color:brown;
}

.conteiner .central {
    flex-grow: 5;
}

.conteiner .l-e {
    flex-grow: 1;
    background-color: aquamarine;
}

.conteiner .l-d {
    flex-grow: 1;
    background-color: cornflowerblue;
}